<!DOCTYPE html>
<html>
<head>
  <title>MdDocs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="/prettify/prettify.css" />
  <script type="text/javascript" src="/prettify/prettify.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("pre").addClass("prettyprint");
      prettyPrint();
    });
  </script>
  <style type="text/css">
    div.main {
      max-width: 600px;
    }
  </style>
</head>
<body>


  <a href="http://github.com/deliciousrobots/md_docs"><img style="position: absolute;
    top: 0; right: 0; border: 0;"
    src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
    alt="Fork me on GitHub"></a>

<div class="main">
<h2>Rails Class Notes : <%= @title %></h2>
<p>Nav: <a href="/">Index</a></p>

<hr />

<%= yield %>

<hr />

<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img
alt="Creative Commons License" style="border-width:0"
src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span
xmlns:dc="http://purl.org/dc/elements/1.1/"
href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Rails
Class Notes</span> by <a xmlns:cc="http://creativecommons.org/ns#"
href="http://rails.deliciousrobots.com/" property="cc:attributionName"
rel="cc:attributionURL">Stephen A. Goss</a> is licensed under a <a
rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
Commons Attribution-ShareAlike 3.0 Unported License</a>.

</div>
</body>
</html>
